In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Di Pandas ada 2 jenis data: Series atau DataFrame
# Series itu sama seperti array 1 dimensi
# DataFrame itu sama seperti array 2 dimensi

In [ ]:
# Cara membuat pandas series
# Di Pandas itu berbentuk kolumnar, jadi hasil printnya itu berbentuk kolom

labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([50,60,80])
d = {'a':10, 'b':20, 'c': 30}


pd.Series(data=my_list)

In [ ]:
# Di Pandas, Indexnya bisa diganti menggunakan labels
# Tapi panjang labels harus sama dengan panjang values yang ada di seriesnya

pd.Series(data=my_list, index=labels)

In [ ]:
# Cara membuat pandas series menggunakan numpy array

pd.Series(data=arr, index=labels)

In [ ]:
# Cara membuat pandas series menggunakan dictionary
# Key yang ada di dictionary akan menjadi index

pd.Series(data=d)

In [ ]:
# Cara membuat pandas series menggunakan dictionary
# Kalau seperti contoh di bawah, ini valuenya tidak akan terbaca karena keynya tidak sama dengan yang ada di dictionary

pd.Series(data=d, index='0 1 2'.split)

In [ ]:
# Cara membuat pandas DataFrame menggunakan list 1 dimensi
# Banyaknya kolom = length dari list
# Banyaknya baris = jumlah data lisnya

a = [i for i in range(1,5)]
b = [i for i in range(5,9)]
c = [i for i in range(9,13)]

pd.DataFrame(
    data=[a,b,c],
    index='a b c'.split(),
    columns='w x y z'.split()
)

In [ ]:
# Cara membuat pandas DataFrame menggunakan list 2 dimensi

my_list = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

pd.DataFrame(
    data=my_list,
    columns='w x y z'.split(),
    index='a b c'.split()
)

In [ ]:
# Cara melakukan transformasi -> dari kolom jadi baris

pd.DataFrame(
    data=my_list,
    columns='w x y z'.split(),
    index='a b c'.split()
).T

In [ ]:
# Cara membuat DataFrame menggunakan array

np.random.seed(101)

df = pd.DataFrame(np.random.randn(5,4), index = 'A B C D E'.split(), columns='W X Y Z'.split())

print(df)

In [ ]:
# Cara membuat DataFrame menggunakan dictionary
# Keynya menjadi kolom, oleh karena itu harus ditambahkan index
# Indexnya harus sama panjangnya dengan panjang listnya

my_d = {
        'a': [1,2,3,4],
        'b': [5,6,7,8],
        'c': [9,10,11,12]
    }

pd.DataFrame(
    data=my_d,
    index='w x y z'.split()
)

In [ ]:
# Belajar Pandas (Selecting Data and Indexing)
# Mengambil 1 Kolom

df['W']

In [ ]:
# Mengambil beberapa dengan slicing

df['W']['B':'C']

In [ ]:
# Cara mengakses data tapi tidak direkomendasi walaupun bisa

df.W

In [ ]:
# Mengambil data lebih dari 1 kolom

df[['W','Z']]

In [ ]:
# Mengambil data lebih dari 1 kolom (alternatively)

df.loc[:, ['W','Z']]

In [ ]:
# Conditional Selection (tanpa mengambil datanya)

df > 5

In [ ]:
# Conditional Selection (mengambil datanya)

df[df>5]

In [ ]:
# Conditional Selection (mengambil datanya) dengan multiple condition

# AND
df[(df > 0.5) & (df < 2)]

In [ ]:
# Conditional Selection (mengambil datanya) dengan multiple condition

# OR
df[(df > 0.5) | (df < 2)]

In [ ]:
# Conditional Selection (mengambil datanya) dengan spesifik kolom

df[(df > 0.5) & (df < 2)]['Z']

In [ ]:
# Cara membaca file.csv 

df = pd.read_csv(
    filepath_or_buffer='Transjakarta.csv'
)

print(df)

In [ ]:
# Mengetahui jumlah data

jumlah_data = len(df)
print(jumlah_data)

In [ ]:
# Hanya mengambil 5 data teratas by default

df.head()

In [ ]:
# Hanya mengambil 2 data teratas

df.head(2)

In [ ]:
# Hanya mengambil 2 data terakhir

df.tail()

In [ ]:
# print out unique values

df['corridorID'].unique()

In [ ]:
# Exercise dengan soal Transjakarta.csv

# 1. Sebutkan jumlah corridorName unique
# 2. Hitung jumlah pengguna flazz
# 3. Hitung proporsi penumpang laki-laki (payCardSex = M) dibandingkan dengan seluruh penumpang
# 4. Berapa jumlah penumpang yang Umurnya diantara 17-23?

In [ ]:
# 1. Sebutkan jumlah corridorName unique = 217

print(len(df['corridorName'].unique()))

In [ ]:
# 2. Hitung jumlah pengguna flazz = 3234

len(df[df['payCardBank'] == 'flazz'])

In [ ]:
# 3. Hitung proporsi penumpang laki-laki (payCardSex = M) dibandingkan dengan seluruh penumpang = 0.47 / 47%

result = len(df[df['payCardSex'] == 'M']) / len(df['payCardSex'])
print(result)

In [ ]:
# 4. Berapa jumlah penumpang yang Umurnya diantara 17-23? = 5567

result1 = len(df[(df['payCardBirthDate'] <= 2007) & (df['payCardBirthDate'] >= 2001)])

print(result1)

In [ ]:
# Belajar Pandas DataFrame Manipulation

np.random.seed(101)

df = pd.DataFrame(np.random.randn(5,4), index = 'A B C D E'.split(), columns='W X Y Z'.split())

print(df)

In [ ]:
# Menambahkan baris baru

df.loc['new'] = [1,2,3,4]
print(df)

In [ ]:
# Menambahkan kolom baru dengan Pandas

df.loc[:, 'kolombaru'] = [1,2,3,4,5,6] # Karena Pandas ini kolumnar makanya tipe datanya integer
print(df)

In [ ]:
# Nambah tipe kolom float dan Integer

df.loc[:,'hasilpenjumlahan'] = df['W'] + df['kolombaru'] # kalau tipe Float + tipe Integer hasilnya Float
print(df)

In [ ]:
# Nambah data baru pake method insert()

df.insert(loc=2, column='new', value=[100,200,300,400,500])
print(df)

In [ ]:
# Cara menghapus kolom (tidak permanent) karena axis=1

df.drop(labels='new', axis=1)

In [ ]:
# Cara menghapus kolom (permanent ke delete) axis=1

df.drop(labels='new', axis=1, inplace=True)
print(df)

In [ ]:
# Cara menghapus multiple kolom

df.drop(labels=['new','test_insert_ditengah'])

In [ ]:
# Cara menghapus baris dengan axis = 0

In [ ]:
# Cara me-reset index kembali ke angka lagi eg.0,1,2,3 (tidak permanent)

df.reset_index()

In [ ]:
# Cara me-reset index kembali ke angka lagi eg.0,1,2,3 dan menghapus kolom index (permanent)

df.reset_index(inplace=True, drop=True)
print(df)

In [ ]:
# Cara set index

df.set_index('States', inplace=True)
print(df)

In [ ]:
# Multi-Index

outside = ['Jakarta', 'Jakarta', 'Jakarta', 'Surabaya', 'Surabaya', 'Surabaya']
inside = [1,2,3]
hier_index = list(zip(outside, inside))
print(hier_index)

In [44]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('Jakarta', 1),
            ('Jakarta', 2),
            ('Jakarta', 3)],
           )

In [46]:
df.xs(['Jakarta', 1])

TypeError: list keys are not supported in xs, pass a tuple instead

In [ ]:
df.xs(1, level='store')

In [ ]:
# Cara mengambil data di Multi-Index

df.xs('Jakarta', level='city')

In [ ]:
# Cara sorting dengan columns defaultnya ASC

df.sort_values(by = 'W')

In [ ]:
# Cara sorting dengan columns by DESC

df.sort_values(by = 'W', ascending=False)

In [ ]:
# Cara sorting by index

df.sort_index()

In [ ]:
# Cara sorting dengan multiple kolom
# Sortingnya berdasarkan gender terlebih dahulu, baru name
df.sort_values(by = ['gender', 'name'])

In [ ]:
# Create dataframe belajar Functionality
data = {'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
        'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
        'Sales': [200, 120, 340, 124, 243, 350]}

df = pd.DataFrame(data)

print(df)

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [ ]:
# Group by dengan ada kondisi (Simpen aja kodenya)

df.groupby(by=['Company', pd.cut(df['Sales'], bins=2)]).size().unstack()