In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import re

In [2]:
# Excercise 1: Buat Array dengan perintah range
# Nilai awal dan akhirnya dari sebuah input
# Buatlah versi 2 dan 3 dimensinya

arrayStart = int(input('Mulai : '))
arrayEnd = int(input('Selesai : '))

array_result = np.arange(arrayStart, arrayEnd)

# Versi 1 dimensi
print(f'''
    1 Dimensi 
    {array_result}
''')

# Versi 2 dimensi
print(f'''
    2 Dimensi
    {array_result.reshape(3,9)}
''')


# Versi 3 dimensi
print(f'''
    2 Dimensi
    {array_result.reshape(3,3,3)}
''')

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Excercise 2: Buatlah sebuah array 1 dimensi dari data random integer sebanyak "n"
# "n" dari sebuah input
# Ubah arraynya dari 1 dimensi ke 2 dimensi
# Setelah diubah jadi 2 dimensi, balik urutan datanya untuk setiap barisnya, eg: 1,2,3 -> 3,2,1

np.random.seed(101)

batasJumlahRandomData = int(input('Banyak Data: '))
arrayStart = int(input('Mulai : '))
arrayEnd = int(input('Selesai : '))

randomIntData = np.random.randint(arrayStart, arrayEnd, batasJumlahRandomData)

array_result = np.array(randomIntData)

print(f'''
    Bentuk array sebelum datanya dibalik
    {array_result.reshape(4,4)}
''')


# Cara reverse element untuk setiap baris
# Cara lainnya bisa menggunakan {np.fliplr(array_result.reshape(4,4))}
print(f'''
    Bentuk array setelah data barisnya dibalik
    {np.flip(array_result.reshape(4,4), axis=1)}
''')

# Cara reverse element untuk setiap kolom
# Cara lainnya bisa menggunakan {np.flipud(array_result.reshape(4,4))}
print(f'''
    Bentuk array setelah data kolomnya dibalik
    {np.flipud(array_result.reshape(4,4))}
''')

In [ ]:
# Excercise 3: Buatlah array 2 dimensi dengan ukuran 10x10
# Isi dari array tersebut:
# Sisi luarnya merupakan angka 4
# Sisi dalamnya merupakan angka 0

array_result = np.zeros((10,10))

array_result[0] = 4
array_result[-1] = 4

for item in array_result:
    item[0] = 4
    item[-1] = 4

print(array_result)

In [ ]:
# Excercise 4: Buatlah sebuah series dengan menggunakan Pandas
# Index pada series tersebut berupa huruf lowercase dari a hingga z
# Data dari tiap indexnya adalah nomor 1 hingga 26

labels = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
listNumber = [i for i in range(1,27)]

pd.Series(data = listNumber, index = labels)

In [ ]:
# Excercise 5: Buatlah sebuah series menggunakan angka random integer
# dari 1 hingga 5 sebanyak 100
# Hitunglah banyaknya frekuensi tiap angka
# Cari tahu 2 nilai dengan frekuensi tertinggi

np.random.seed(101)

randomIntValue = np.random.randint(1,5,100)

series_random_value = pd.Series(data = randomIntValue)

count_result = series_random_value.value_counts().head(2)

df_count_result = count_result.reset_index()
df_count_result.columns = ['value', 'counts']

# Menampilkan DataFrame yang telah diubah
print("\nDataFrame dengan hasil count:")
print(df_count_result)

In [ ]:
# Excercise 6: Tampilkan data 'MPG' dari Seaborn
# Tampilkan statistik descriptif atau Describe selain data numerik
# Tampilkan seluruh nama kolom pada DataFrame!
# Hitung Jumlah Missing Value (Data Kosong) di setiap kolomnya!

mpg = sns.load_dataset('mpg')

mpg_result = mpg.head()

print(mpg_result)
print(mpg.describe(include=object))
print(mpg.columns)

# .sum() menghitung semua nilai yang Nan
# Convert nilai yang True = 1 dan dijumlahkan
print(mpg.isna().sum())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino
       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')
mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [ ]:
# Excercise 7: Tampilkan data 'MPG' dari Seaborn
# Tampilkan Missing Value (data kosong) pada kolom 'horsepower'!
# Tampilkan index lokasi missing value tersebut!

mpg = sns.load_dataset("mpg")

print(mpg[mpg['horsepower'].isna()])

mpg_isna = np.where(mpg['horsepower'].isna())

print(mpg_isna)

In [ ]:
# Excercise 8: Tampilkan data 'MPG' dari Seaborn
# Lakukan grouping atau pengelompokan berdasarkan kolom 'origin'
# Tampilkan rata-rata dari 'horsepower' di setiap kelompok origin

mpg = sns.load_dataset("mpg")

group_by_origin = mpg.groupby('origin')['horsepower']

group_by_origin.mean()

df = pd.DataFrame(data=group_by_origin.mean().values, columns=['Rata-Rata Horsepower'])

print(df)

In [ ]:
# Excercise 9: Tampilkan data 'MPG' dari Seaborn
# Buatlah sebuah kolom baru yang bernama 'horse_origin'
# Kolom 'horse_origin' ini harus diisi menggunakan fungsi berisikan:
# Jika nilai 'horsepower' <= 105, tampilkan 'lower' + 'nama origin' pada baris yang sama, Contohnya 'lower USA'
# Jika nilai 'horsepower' >= 105, tampilkan 'upper' + 'nama origin'

mpg = sns.load_dataset("mpg")

mpg.loc[:, 'horse_origin'] = np.where(mpg['horsepower'] >= 105, f'upper {mpg['origin'][0]}', f'lower {mpg['origin'][0]}')

print(mpg['horse_origin'])

mpg

In [ ]:
# Excercise 10: Tampilkan data 'MPG' dari Seaborn
# Lakukan pengemlopokan atau grouping kolom 'weight' berdasarkan kolom 'origin' dengan aggregating mean, standard deviasi, sum, count, min dan max
# Lakukan reset index sehingga kolom 'origin' tidak lagi menjadi index tapi tetap menjadi kolom!

mpg = sns.load_dataset("mpg")

group_by_origin = mpg.groupby('origin')['weight']

df = pd.DataFrame(
    data= [
        group_by_origin.mean(), 
        group_by_origin.std(),
        group_by_origin.max(),
        group_by_origin.min(),
        group_by_origin.sum(),
        group_by_origin.count()
        ]
)

df_result = df.T.reset_index()

df_result.columns = ['origin', 'mean', 'std', 'max', 'min', 'sum', 'count']

print(df_result)

   origin         mean         std     max     min       sum  count
0  europe  2423.300000  490.043191  3820.0  1825.0  169631.0   70.0
1   japan  2221.227848  320.497248  2930.0  1613.0  175477.0   79.0
2     usa  3361.931727  794.792506  5140.0  1800.0  837121.0  249.0

In [ ]:
# Excercise Regex:

with open('mbox-short.txt', 'r') as f:
    text= f.read()

print(text)

hasil_pencarian = re.findall(pattern=r"(\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})", string=text)
hasil_pencarian2 = re.findall(pattern=r"\w+@\w+.\w{1,3}", string=text)
print(hasil_pencarian)
print(hasil_pencarian2)