Pandas: Series and DataFrame

In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Di Pandas ada 2 jenis data: Series atau DataFrame
# Series itu sama seperti array 1 dimensi
# DataFrame itu sama seperti array 2 dimensi

In [6]:
# Cara membuat pandas series
# Di Pandas itu berbentuk kolumnar, jadi hasil printnya itu berbentuk kolom

labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([50,60,80])
d = {'a':10, 'b':20, 'c': 30}


pd.Series(data=arr)

0    50
1    60
2    80
dtype: int64

In [3]:
# Di Pandas, Indexnya bisa diganti menggunakan labels
# Tapi panjang labels harus sama dengan panjang values yang ada di seriesnya

pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
# Cara membuat pandas series menggunakan numpy array

pd.Series(data=arr, index=labels)

In [ ]:
# Cara membuat pandas series menggunakan dictionary
# Key yang ada di dictionary akan menjadi index

pd.Series(data=d)

In [4]:
# Cara membuat pandas series menggunakan dictionary
# Kalau seperti contoh di bawah, ini valuenya tidak akan terbaca karena keynya tidak sama dengan yang ada di dictionary

pd.Series(data=d, index='0 1 2'.split)

TypeError: Index(...) must be called with a collection of some kind, <built-in method split of str object at 0x12f7830c0> was passed

In [ ]:
# Cara membuat pandas DataFrame menggunakan list 1 dimensi
# Banyaknya kolom = length dari list
# Banyaknya baris = jumlah data lisnya

a = [i for i in range(1,5)]
b = [i for i in range(5,9)]
c = [i for i in range(9,13)]

pd.DataFrame(
    data=[a,b,c],
    index='a b c'.split(),
    columns='w x y z'.split()
)

In [ ]:
# Cara membuat pandas DataFrame menggunakan list 2 dimensi

my_list = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

pd.DataFrame(
    data=my_list,
    columns='w x y z'.split(),
    index='a b c'.split()
)

In [ ]:
# Cara melakukan transformasi -> dari kolom jadi baris

pd.DataFrame(
    data=my_list,
    columns='w x y z'.split(),
    index='a b c'.split()
).T

In [ ]:
# Cara membuat DataFrame menggunakan array

np.random.seed(101)

df = pd.DataFrame(np.random.randn(5,4), index = 'A B C D E'.split(), columns='W X Y Z'.split())

print(df)

In [ ]:
# Cara membuat DataFrame menggunakan dictionary
# Keynya menjadi kolom, oleh karena itu harus ditambahkan index
# Indexnya harus sama panjangnya dengan panjang listnya

my_d = {
        'a': [1,2,3,4],
        'b': [5,6,7,8],
        'c': [9,10,11,12]
    }

pd.DataFrame(
    data=my_d,
    index='w x y z'.split()
)

Pandas: Indexing and Selecting Data

In [ ]:
# Belajar Pandas (Selecting Data and Indexing)
# Cara mengambil 1 Kolom: W

df['W']

In [ ]:
# Cara mengambil 1 kolom dan 1 baris
# Kolom W dan baris pertamanya
# ['W'] -> untuk kolom, [0] -> untuk baris
# Formatnya Kolom dan Baris dulu

df['W'][0]

In [ ]:
# Mengambil 1 kolom dan beberapa baris dengan slicing
# Mengambil Kolom W dan dari Baris B sampai E

df['W']['B':'E']
df['W'][0:2]

In [ ]:
# Cara menambahkan kolom

df['min'] = [1,2,3,4,5]
print(df)

In [ ]:
# Cara mengakses Kolom tapi tidak direkomendasi walaupun bisa
# Karena code kayak gini sama kayak manggil fungsi
# Kalau nama kolom = sama fungsi yang ada di python, nanti pythonnya bingun

df.min

In [ ]:
# Cara mengambil multiple kolom, karena bentuknya DataFrame kurung sikunya harus ada 2

df[['W','Z']]

In [ ]:
# Cara mengambil multiple kolom dan juga multiple baris dari kolom tersebut

df[['W','Z']][0:2]

In [ ]:
# Cara mengambil data lebih dari 1 kolom (alternatively)
# Ini menggunakan fancy index
# Hanya ngambil kolom X dan Z saja

df.loc[:, ['W','Z']]

In [ ]:
# Cara mengambil data berdasarkan Index atau Baris

df.loc['A']

In [ ]:
# Cara mengambil multiple data berdasarkan Index atau Baris menggunakan loc()
# Semua kolomnya ikutan ke ambil
# Kalau loc() berdasarkan nama indexnya

df.loc['A':'D']

In [ ]:
# Cara mengambil multiple data berdasarkan Index atau Baris menggunakan iloc()
# Semua kolomnya ikutan ke ambil
# Kalau iloc() berdasarkan nomor indexnya (index dimulai dari 0)

df.iloc[0:4:2]

In [ ]:
# Cara mengambil data lebih dari 1 kolom menggunakan iloc()
# Ini menggunakan fancy index
# Hanya ngambil kolom X dan Z saja tapi menggunakan index dari kolom tersebut

df.iloc[:, [0,3]]

In [ ]:
# Conditional Selection (tanpa mengambil datanya)
# Hasilnya adalah True atau False

df > 5

In [ ]:
# Conditional Selection (mengambil datanya)
# Returnnya value yang lebih besar dari 5
# Value yang tidak memenuhi diganti dengan NaN

df[df>0.5]

In [ ]:
# Conditional Selection (mengambil datanya) dengan multiple condition

# AND
df[(df > 0.5) & (df < 2)]

In [ ]:
# Conditional Selection (mengambil datanya) dengan multiple condition

# OR
df[(df > 0.5) | (df < 2)]

In [ ]:
# Conditional Selection (mengambil datanya) dengan spesifik kolom 

df[(df > 0.5) & (df < 2)]['Z']

In [ ]:
# Conditional Selection dengan multiple kolom
# df[df['W']>0.7] -> mengembalikan True or False, karena hasilnya adalah True
# Kolom X ikut ke print walaupun valuenya < 0.7

print(df[df['W']>0.7])

df[df['W']>0.7][['Y','X']]

In [ ]:
# Conditional Selection dengan multiple kolom 
# Returnnya baris yang memenuhi kondisi

df[(df['W'] > 0) & (df['Y'] > 1)]

In [ ]:
# Cara membaca dari file.csv 

df = pd.read_csv(
    filepath_or_buffer='Transjakarta.csv'
)

print(df)

In [ ]:
# Mengetahui jumlah data

jumlah_data = len(df)
print(jumlah_data)

In [ ]:
# Hanya mengambil 5 data teratas by default

df.head()

In [ ]:
# Hanya mengambil 2 data teratas

df.head(2)

In [ ]:
# Hanya mengambil 2 data terakhir (by default)
# Tapi bisa diubah berapa total data yang ingin diambil

df.tail(2)

In [ ]:
# print out unique values

df['corridorID'].unique()

In [ ]:
# Exercise dengan soal Transjakarta.csv

# 1. Sebutkan jumlah corridorName unique
# 2. Hitung jumlah pengguna flazz
# 3. Hitung proporsi penumpang laki-laki (payCardSex = M) dibandingkan dengan seluruh penumpang
# 4. Berapa jumlah penumpang yang Umurnya diantara 17-23?

In [ ]:
# 1. Sebutkan jumlah corridorName unique = 217

print(len(df['corridorName'].unique()))

In [ ]:
# 2. Hitung jumlah pengguna flazz = 3234

len(df[df['payCardBank'] == 'flazz'])

In [ ]:
# 3. Hitung proporsi penumpang laki-laki (payCardSex = M) dibandingkan dengan seluruh penumpang = 0.47 / 47%

result = len(df[df['payCardSex'] == 'M']) / len(df['payCardSex'])
print(result)

In [ ]:
# 4. Berapa jumlah penumpang yang Umurnya diantara 17-23? = 5567

result1 = len(df[(df['payCardBirthDate'] <= 2007) & (df['payCardBirthDate'] >= 2001)])

print(result1)

Pandas: DataFrame Manipulation

In [ ]:
# Membuat DataFrame dengan random value

np.random.seed(101)

df = pd.DataFrame(np.random.randn(5,4), index = 'A B C D E'.split(), columns='W X Y Z'.split())

print(df)

In [ ]:
# Cara menambahkan kolom baru

df['new'] = [1,2,3,4,5]
print(df)

In [ ]:
# Cara menambahkan kolom baru dengan Pandas menggunakan loc()

df.loc[:, 'kolombaru'] = [1,2,3,4,5] # Karena Pandas ini kolumnar makanya tipe datanya integer
print(df)

In [ ]:
# Cara menambahkan baris baru

df.loc['new'] = [1,2,3,4,5]
print(df)

In [ ]:
# Nambah tipe kolom float dan Integer

df.loc[:,'hasilPenjumlahan'] = df['W'] + df['kolombaru'] # kalau tipe Float + tipe Integer hasilnya Float
print(df)

In [ ]:
# Nambah data baru pake method insert()

df.insert(loc=2, column='new', value=[100,200,300,400,500])
print(df)

In [ ]:
# Cara menghapus kolom (tidak permanent) karena axis=1
# Menghapusnya harus 1 kolom

df.drop(labels='new', axis=1)

In [ ]:
# Cara menghapus kolom (permanent ke delete) axis=1

df.drop(labels='new', axis=1, inplace=True)
print(df)

In [ ]:
# Cara menghapus multiple kolom

df.drop(['new','Z'], axis=1)

In [ ]:
# Cara menghapus baris dengan axis = 0
df.drop(labels='E', axis=0)

In [ ]:
# Cara me-reset index kembali ke angka lagi eg.0,1,2,3 (tidak permanent)
# Returnnya adalah Pandas DataFrame

df.reset_index()

In [ ]:
# Cara me-reset index kembali ke angka lagi eg.0,1,2,3 dan menghapus kolom index (permanent)
# Returnnya adalah Pandas DataFrame

df.reset_index(inplace=True, drop=True)
print(df)

In [ ]:
# Cara set index menggunakan variable sendiri

df.set_index('new', inplace=True)
print(df)

In [ ]:
# Belajar Multi-Index

outside = ['Jakarta', 'Jakarta', 'Jakarta', 'Surabaya', 'Surabaya', 'Surabaya']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
print(hier_index)

In [ ]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

In [ ]:
# Membuat DataFrame dengan Multi-Index

df = pd.DataFrame (
    np.random.randint(1,100,(6,2)),
    index=hier_index,
    columns=['Restaurant A', 'Restaurant B']
)

df

In [ ]:
# Cara mengambil 1 lapisan baris di multi-index

df.loc['Jakarta']

In [ ]:
# Cara mengambil 2 lapisan baris di multi-index

df.loc['Jakarta'].loc[1]

In [ ]:
# Cara mengambil kolom di multi-index

df['Restaurant A']

In [ ]:
# Cara mengambil 2 lapisan baris di multi-index yang lebih simple
# ['Jakarta',1] -> 'Jakarta' = lapisan pertama, 1 = lapisan kedua

df.xs(['Jakarta', 1])

In [ ]:
# Cara set nama multi-index

df.index.names=['City', 'Location']

df

In [ ]:
# Cara mengambil data berdasarkan nama yang diberikan di multi-index

df.xs(1, level='Location')

In [ ]:
# Cara mengambil data di Multi-Index

df.xs('Jakarta', level='city')

In [ ]:
# Cara sorting dengan columns defaultnya ASC

df.sort_values(by = 'Restaurant A')

In [ ]:
# Cara sorting dengan columns by DESC

df.sort_values(by = 'Restaurant B', ascending=False)

In [ ]:
# Cara sorting by index

df.sort_index()

In [ ]:
# Cara sorting dengan multiple kolom
# Sortingnya berdasarkan gender terlebih dahulu, baru name
df.sort_values(by = ['Restaurant A', 'Restaurant B'])

Pandas Functionality

In [ ]:
# Create dataframe belajar Functionality
data = {'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
        'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
        'Sales': [200, 120, 340, 124, 243, 350]}

df = pd.DataFrame(data)

print(df)

In [ ]:
# Group by dengan ada kondisi (Simpen aja kodenya)

df.groupby(by=['Company', pd.cut(df['Sales'], bins=2)]).size().unstack()

In [ ]:
# Belajar Pandas Functionality

import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'Alhamfbn25',
)

In [ ]:
df_orderdetails = pd.read_sql(
    sql = 
    '''
        select * 
        from classicmodels.orderdetails;
    ''',
    con = mydb
)

print(df_orderdetails)

In [ ]:
# Untuk melihat seluruh kolom, value count yang tidak kosong disetiap kolom dan tipe data dari setiap kolom

df_orderdetails.info()

In [ ]:
# Untuk mengetahui jumlah baris dan kolom

df_orderdetails.shape

In [ ]:
# Untuk mengetahui semua kolom yang ada

df_orderdetails.columns

In [ ]:
# Untuk mengetahui tipe data tiap kolom

df_orderdetails.dtypes

In [ ]:
# Untuk mengetahui statistik dari table (untuk kolom yang berisi tipe data numerik)

df_orderdetails.describe()

In [ ]:
# Untuk mengetahui statistik dari table (untuk kolom yang isinya string/object)

df_orderdetails.describe(include=object)

In [ ]:
# Untuk mengetahui rata-rata perkolom

df_orderdetails['orderNumber'].mean()

# Untuk mengetahui nilai tengah perkolom

df_orderdetails['orderNumber'].median()

# Untuk mengetahui standard deviasi perkolom

df_orderdetails['orderNumber'].std()

# Untuk mengetahui nilai minimum dari sebuah kolom

df_orderdetails['orderNumber'].min()

# Untuk mengetahui nilai maximum dari sebuah kolom

df_orderdetails['orderNumber'].max()

In [ ]:
# Untuk mengetahui apa saja unique value di sebuah kolom

df_orderdetails['orderNumber'].unique()

In [ ]:
# Untuk menghitung jumlah value unique di sebuah kolom

df_orderdetails['orderNumber'].nunique()

In [ ]:
# Untuk mengetahui jumlah frekuensi dari value2 yang ada di sebuah kolom

df_orderdetails['orderNumber'].value_counts()

In [ ]:
# Cara mendeteksi missing value menggunakan pandas

df = pd.DataFrame(
    {
        'A':[np.nan,np.nan,np.nan],
        'B':[5, np.nan, np.nan],
        'C':[1,2,3]
    }
)

df

In [ ]:
# Cara mengecek apakah ada missing value di sebuah table

df.isna()

In [ ]:
# Cara menghapus data yang kosong berdasarkan baris
# Yang dihapus adalah per-baris
# Tidak dianjurkan delete data yang kosong jika: yang kosong terlalu banyak atau ketika dihapus datanya tinggal sedikit
# Seperti di contoh, dari 3 baris menjadi hanya 1 baris

df.dropna()

In [ ]:
# Cara menghapus data yang kosong berdasarkan kolom
# Yang dihapus adalah per-kolom

df.dropna(axis=1)

In [ ]:
# Cara menghapus data yang kosong berdasarkan baris
# Yang dihapus adalah per-baris kalau ada 2 data yang kosong

df.dropna(thresh=2)

In [ ]:
# Cara menghapus data yang kosong berdasarkan kolom
# Yang dihapus adalah per-kolom kalau ada 2 atau lebih data yang kosong

df.dropna(thresh=2, axis=1)

In [ ]:
# Cara mengisi data yang kosong

df['A'].fillna(value=df['B'].max(), inplace=True)
df

In [ ]:
data = {'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
        'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
        'Sales': [200, 120, 340, 124, 243, 350]}

df = pd.DataFrame(data)

print(df)

In [ ]:
# Cara agregasi data atau mengelompokan data dan menghitung rata-ratanya dan standard deviasi

group_by_company = df.groupby('Company')['Sales']

group_by_company.mean()

group_by_company.std()

In [ ]:
# Cara agregasi data atau mengelompokan data dan menghitung min, max, cound

group_by_company = df.groupby('Company')

group_by_company.min()

group_by_company.max()

group_by_company.count()

In [ ]:
# Cara melihat summary statistik dari table

group_by_company.describe()

In [ ]:
# Cara melihat summary statistik dari table dan spesifik per kolom

group_by_company.describe().transpose()['GOOG']

Pandas: Merging, Joining and Concatenating

In [81]:
df_products = pd.read_sql(
    sql = 
    '''
        select * 
        from classicmodels.products;
    ''',
    con = mydb
)

print(df_products.head(3))

  productCode                            productName   productLine  \
0    S10_1678  1969 Harley Davidson Ultimate Chopper   Motorcycles
1    S10_1949               1952 Alpine Renault 1300  Classic Cars
2    S10_2016                  1996 Moto Guzzi 1100i   Motorcycles

  productScale             productVendor  \
0         1:10           Min Lin Diecast
1         1:10   Classic Metal Creations
2         1:10  Highway 66 Mini Classics

                                  productDescription  quantityInStock  \
0  This replica features working kickstand, front...             7933
1  Turnable front wheels; steering function; deta...             7305
2  Official Moto Guzzi logos and insignias, saddl...             6625

   buyPrice    MSRP
0     48.81   95.70
1     98.58  214.30
2     68.99  118.94

/var/folders/0p/gz75bm_j7j51bzy0pfj6dtdm0000gn/T/ipykernel_4488/240085199.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_products = pd.read_sql(

In [82]:
df_products_orderdetails = pd.read_sql(
    sql=
    '''
        select cp.productName, cp.productVendor, co.quantityOrdered
        from classicmodels.orderdetails as co
        left join classicmodels.products as cp
        on co.productCode = cp.productCode
    ''',
    con = mydb
)

print(df_products_orderdetails)

                              productName              productVendor  \
0                1917 Grand Touring Sedan  Welly Diecast Productions
1                      1911 Ford Town Car    Motor City Art Classics
2     1932 Alfa Romeo 8C2300 Spider Sport              Exoto Designs
3        1936 Mercedes Benz 500k Roadster          Red Start Diecast
4               1932 Model A Ford J-Coupe      Autoart Studio Design
...                                   ...                        ...
2991             1962 Volkswagen Microbus      Autoart Studio Design
2992  1958 Chevy Corvette Limited Edition   Carousel DieCast Legends
2993          1980’s GM Manhattan Express    Motor City Art Classics
2994          1954 Greyhound Scenicruiser    Classic Metal Creations
2995     Diamond T620 Semi-Skirted Tanker   Highway 66 Mini Classics

      quantityOrdered
0                  30
1                  50
2                  22
3                  49
4                  25
...               ...
2991               49
2992               31
2993               41
2994               11
2995               18

[2996 rows x 3 columns]

/var/folders/0p/gz75bm_j7j51bzy0pfj6dtdm0000gn/T/ipykernel_4488/1107674081.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_products_orderdetails = pd.read_sql(

In [83]:
# Menggunakan merge untuk join 2 table, by default joinnya Inner

df_hasil_merge = pd.merge(
    left= df_orderdetails,
    right= df_products,
    on= 'productCode'
)

print(df_hasil_merge)

      orderNumber productCode  quantityOrdered  priceEach  orderLineNumber  \
0           10100    S18_1749               30     136.00                3
1           10100    S18_2248               50      55.09                2
2           10100    S18_4409               22      75.46                4
3           10100    S24_3969               49      35.29                1
4           10101    S18_2325               25     108.06                4
...           ...         ...              ...        ...              ...
2991        10425    S24_2300               49     127.79                9
2992        10425    S24_2840               31      31.82                5
2993        10425    S32_1268               41      83.79               11
2994        10425    S32_2509               11      50.32                6
2995        10425    S50_1392               18      94.92                2

                              productName       productLine productScale  \
0                1917 Grand Touring Sedan      Vintage Cars         1:18
1                      1911 Ford Town Car      Vintage Cars         1:18
2     1932 Alfa Romeo 8C2300 Spider Sport      Vintage Cars         1:18
3        1936 Mercedes Benz 500k Roadster      Vintage Cars         1:24
4               1932 Model A Ford J-Coupe      Vintage Cars         1:18
...                                   ...               ...          ...
2991             1962 Volkswagen Microbus  Trucks and Buses         1:24
2992  1958 Chevy Corvette Limited Edition      Classic Cars         1:24
2993          1980’s GM Manhattan Express  Trucks and Buses         1:32
2994          1954 Greyhound Scenicruiser  Trucks and Buses         1:32
2995     Diamond T620 Semi-Skirted Tanker  Trucks and Buses         1:50

                  productVendor  \
0     Welly Diecast Productions
1       Motor City Art Classics
2                 Exoto Designs
3             Red Start Diecast
4         Autoart Studio Design
...                         ...
2991      Autoart Studio Design
2992   Carousel DieCast Legends
2993    Motor City Art Classics
2994    Classic Metal Creations
2995   Highway 66 Mini Classics

                                     productDescription  quantityInStock  \
0     This 1:18 scale replica of the 1917 Grand Tour...             2724
1     Features opening hood, opening doors, opening ...              540
2     This 1:18 scale precision die cast replica fea...             6553
3     This model features grille-mounted chrome horn...             2081
4     This model features grille-mounted chrome horn...             9354
...                                                 ...              ...
2991  This 1:18 scale die cast replica of the 1962 M...             2327
2992  The operating parts of this 1958 Chevy Corvett...             2542
2993  This 1980’s era new look Manhattan express is ...             5099
2994  Model features bi-level seating, 50 windows, s...             2874
2995  This limited edition model is licensed and per...             1016

      buyPrice    MSRP
0        86.70  170.00
1        33.30   60.54
2        43.26   92.03
3        21.75   41.03
4        58.48  127.13
...        ...     ...
2991     61.34  127.79
2992     15.91   35.36
2993     53.93   96.31
2994     25.98   54.11
2995     68.29  115.75

[2996 rows x 13 columns]

In [ ]:
# Menggunakan merge untuk join 2 table dengan outer join

df_hasil_merge = pd.merge(
    left= df_orderdetails,
    right= df_products,
    how= 'outer',
    on= 'productCode'
)

print(df_hasil_merge)

In [ ]:
# Menggunakan merge untuk join 2 table dengan left join

df_hasil_merge = pd.merge(
    left= df_orderdetails,
    right= df_products,
    how= 'left',
    on= 'productCode'
)

print(df_hasil_merge)

In [ ]:
# Menggunakan merge untuk join 2 table dengan right join

df_hasil_merge = pd.merge(
    left= df_orderdetails,
    right= df_products,
    how= 'right',
    on= 'productCode'
)

print(df_hasil_merge)

In [85]:
# Cara CONCATENATING di pandas, by default akan di concate by baris

df_hasil_concate = pd.concat([
    df_orderdetails, df_products
])

print(df_hasil_concate.head(3))

   orderNumber productCode  quantityOrdered  priceEach  orderLineNumber  \
0      10100.0    S18_1749             30.0     136.00              3.0
1      10100.0    S18_2248             50.0      55.09              2.0
2      10100.0    S18_4409             22.0      75.46              4.0

  productName productLine productScale productVendor productDescription  \
0         NaN         NaN          NaN           NaN                NaN
1         NaN         NaN          NaN           NaN                NaN
2         NaN         NaN          NaN           NaN                NaN

   quantityInStock  buyPrice  MSRP
0              NaN       NaN   NaN
1              NaN       NaN   NaN
2              NaN       NaN   NaN

In [84]:
# Cara CONCATENATING berdasarkan kolom di pandas 

df_hasil_concate_by_kolom = pd.concat([
    df_orderdetails, df_products
], axis=1)

print(df_hasil_concate_by_kolom.head(3))

   orderNumber productCode  quantityOrdered  priceEach  orderLineNumber  \
0        10100    S18_1749               30     136.00                3
1        10100    S18_2248               50      55.09                2
2        10100    S18_4409               22      75.46                4

  productCode                            productName   productLine  \
0    S10_1678  1969 Harley Davidson Ultimate Chopper   Motorcycles
1    S10_1949               1952 Alpine Renault 1300  Classic Cars
2    S10_2016                  1996 Moto Guzzi 1100i   Motorcycles

  productScale             productVendor  \
0         1:10           Min Lin Diecast
1         1:10   Classic Metal Creations
2         1:10  Highway 66 Mini Classics

                                  productDescription  quantityInStock  \
0  This replica features working kickstand, front...           7933.0
1  Turnable front wheels; steering function; deta...           7305.0
2  Official Moto Guzzi logos and insignias, saddl...           6625.0

   buyPrice    MSRP
0     48.81   95.70
1     98.58  214.30
2     68.99  118.94

Pandas: Operations

In [86]:
df = pd.DataFrame(
    {
        'col1':[1,2,3,4], 'col2':[444,555,666,444], 'col3':['abc','def','ghi','xyz']
    }
)

df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
# Mengapplikasikan Fungsi untuk setiap value di sebuah kolom

def times2(number):
    return number * 2

df['col1'].apply(times2)

col1         2
col2       888
col3    abcabc
Name: 0, dtype: object

In [90]:
# Mengapplikasikan Fungsi untuk setiap value di sebuah baris

def times2(number):
    return number * 2

df.loc[0].apply(times2)

col1         2
col2       888
col3    abcabc
Name: 0, dtype: object

In [88]:
# Mengetahui panjang setiap elemen dengan fungsi

df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
# Membandingkan kecepatan performance python for loop vs apply
# Jauh lebih cepet pandas.apply

df_copy = df.copy()

for i in range(0, len(df_copy)):
    df_copy.loc[i, 'umurUser'] = 2024 - df_copy.loc[i, 'payCardBirthDate']

print(df_copy)

In [ ]:
# Pandas Apply + lambda function
# Fungsi Apply kurang disarankan untuk data numerik
# Disarankan untuk data string/object

df_copy['umurUser'] = df_copy['payCardBirthDate'].apply(lambda x: 2024 - x)

print(df_copy)

In [91]:
# Menggunakan Pandas Apply + Lambda function

df['col3'].apply(lambda x: x[1])

0    b
1    e
2    h
3    y
Name: col3, dtype: object

In [94]:
# Menggunakan operasi matematika

# operasi +
df['col4'] = df['col1'] + df['col2']

# operasi -
df['col5'] = df['col1'] - df['col2']

# operasi *
df['col6'] = df['col1'] * df['col2']

# operasi /
df['col6'] = df['col1'] / df['col2']

df

   col1  col2 col3  col4  col5      col6
0     1   444  abc   445  -443  0.002252
1     2   555  def   557  -553  0.003604
2     3   666  ghi   669  -663  0.004505
3     4   444  xyz   448  -440  0.009009

In [131]:
# Belajar Pivot Table

df = pd.DataFrame({
    'A':['foo','foo','foo','foo','bar','bar','bar'],
    'B':['one','one','one','two','two','one','one'],
    'C':['x','y','x','x','y','x','y'],
    'D':[1,1,20,2,5,4,1]
})

df

     A    B  C   D
0  foo  one  x   1
1  foo  one  y   1
2  foo  one  x  20
3  foo  two  x   2
4  bar  two  y   5
5  bar  one  x   4
6  bar  one  y   1

In [122]:
# Cara membuat pivot table

df.pivot_table(
    values='D',
    index=['A', 'B'],
    columns='C'
)

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

In [126]:
# Cara membuat pivot table dan mengisi data yang kosong

df.pivot_table(
    values='D',
    index=['A', 'B'],
    columns='C',
    fill_value=0
)

C          x    y
A   B
bar one  4.0  1.0
    two  0.0  5.0
foo one  1.0  3.0
    two  2.0  0.0

In [132]:
df.pivot_table(
    values='D',
    index=['A', 'B'],
    columns='C',
    aggfunc='sum'
)

C           x    y
A   B
bar one   4.0  1.0
    two   NaN  5.0
foo one  21.0  1.0
    two   2.0  NaN

Pandas: Input and Output

In [ ]:
# Belajar Input dan Output di Pandas
# Input dari CSV

df.to_csv(
    path_or_buf='contoh_output_pandas/contoh_output_csv.csv'
)

In [ ]:
# Cara baca excel menggunakan pandas

df = pd.read_excel(
    io='contoh excel.xlsx'
)

df.head()

In [ ]:
df['PTOTAL'] = df['P1'].astype(int) + df['P2'].astype(int)

In [ ]:
# Cara export data excel ke sebuah folder

df.to_excel(
    excel_writer='contoh_output_pandas/contoh_output_excel.xlsx',
    engine='openpyxl'
)

Pandas: Introduction to Regular Expression